<p>view-edit-products works!</p>
<div class="add-product-form">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="Name">Name:</label>
      <input id="Name" formControlName="Name" type="text" />
      <div
        *ngIf="
          productForm.get('Name')?.invalid && productForm.get('Name')?.touched
        "
      >
        Name is required.
      </div>
    </div>
    <div>
      <label for="Price">Price:</label>
      <input id="Price" formControlName="Price" type="decimal" step = "0.01"/>
      <div
        *ngIf="
          productForm.get('Price')?.invalid && productForm.get('Price')?.touched
        "
      >
      Price must be at least 1.
      </div>
    </div>
    <div>
      <label for="CatergoryId">CatergoryId:</label>
      <input id="CatergoryId" formControlName="CatergoryId" type="number"/>
      <div
        *ngIf="
          productForm.get('CatergoryId')?.invalid && productForm.get('CatergoryId')?.touched
        "
      >
      Catergory Id is required.
      </div>
    </div>
    <div>
      <label for="Description">Description:</label>
      <input id="Description" formControlName="Description" type="text" />
      <div
        *ngIf="
          productForm.get('Description')?.invalid && productForm.get('Description')?.touched
        "
      >
      Description is required.
      </div>
    </div>
    <div>
      <label for="ImageOne">Image One:</label>
      <input id="ImageOne" formControlName="ImageOne" type="text" />
      <div
        *ngIf="
          productForm.get('ImageOne')?.invalid && productForm.get('ImageOne')?.touched
        "
      >
      At least one image is required.
      </div>
    </div>
    <div>
      <label for="ImageTwo">Image Two:</label>
      <input id="ImageTwo" formControlName="ImageTwo" type="text" />
    </div>
    <div>
      <label for="ImageThree">Image Three:</label>
      <input id="ImageThree" formControlName="ImageThree" type="text" />
    </div>
    <div>
      <label for="ImageFour">Image Four:</label>
      <input id="ImageFour" formControlName="ImageFour" type="text" />
    </div>
    <div>
      <label for="ImageFive">ImageFive:</label>
      <input id="ImageFive" formControlName="ImageFive" type="text" />
    </div>
    <div>
      <label for="UnitsInStock">Units In Stock:</label>
      <input id="UnitsInStock" formControlName="UnitsInStock" type="number" />
      <div
        *ngIf="
          productForm.get('UnitsInStock')?.invalid && productForm.get('UnitsInStock')?.touched
        "
      >
      Units In Stock is required.
      </div>
    </div>
    <div>
      <label for="UnitsOnOrder">Units On Order:</label>
      <input id="UnitsOnOrder" formControlName="UnitsOnOrder" type="number" />
      <div
        *ngIf="
          productForm.get('UnitsOnOrder')?.invalid && productForm.get('UnitsOnOrder')?.touched
        "
      >
      Units On Order must be at least 1.
      </div>
    </div>
    <div>
      <label for="UnitsReorderLevel">Units Reorder Level:</label>
      <input id="UnitsReorderLevel" formControlName="UnitsReorderLevel" type="number"/>
      <div
        *ngIf="
          productForm.get('UnitsReorderLevel')?.invalid && productForm.get('UnitsReorderLevel')?.touched
        "
      >
      Units Reorder Level must be a positive number.
      </div>
    </div>
    <div>
      <label for="SupplierId">Supplier Id:</label>
      <input id="SupplierId" formControlName="SupplierId" type="number" />
    </div>
    <div>
      <label for="UnitsSold">Units Sold:</label>
      <input id="UnitsSold" formControlName="UnitsSold" type="number" />
    </div>
    <div>
      <label for="UnitWeight">Unit Weight:</label>
      <input id="UnitWeight" formControlName="UnitWeight" type="decimal" step="0.01" />
      <div
        *ngIf="
          productForm.get('UnitWeight')?.invalid && productForm.get('UnitWeight')?.touched
        "
      >
      Unit Weight must be a positive number.
      </div>
    </div>
    <div>
      <label for="UnitDimensions">Unit Dimensions:</label>
      <input id="UnitDimensions" formControlName="UnitDimensions" type="text" />
      <div
        *ngIf="
          productForm.get('UnitDimensions')?.invalid && productForm.get('UnitDimensions')?.touched
        "
      >
      Unit Dimensions is required.
      </div>
    </div>
    <div>
      <label for="UnitCost">Unit Cost:</label>
      <input id="UnitCost" formControlName="UnitCost" type="decimal" step="0.01" />
      <div
        *ngIf="
          productForm.get('UnitCost')?.invalid && productForm.get('UnitCost')?.touched
        "
      >
        Unit Cost must be at least 1.
      </div>
    </div>

    <button type="submit">Add Product</button>
  </form>
</div>

<!--Display Product Form-->
<div class="view-products-table">
  <mat-table>
    <!-- Id Definition -->
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.Id }} </mat-cell>
    </ng-container>

    <!-- Name Definition -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.Name }} </mat-cell>
    </ng-container>

    <!-- Price Definition -->
    <ng-container matColumnDef="Price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.Price }} </mat-cell>
    </ng-container>

    <!-- CatergoryId Definition -->
    <ng-container matColumnDef="CatergoryId">
      <mat-header-cell *matHeaderCellDef> CatergoryId </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.CatergoryId }} </mat-cell>
    </ng-container>

    <!-- Description Definition -->
    <ng-container matColumnDef="Description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.Description }} </mat-cell>
    </ng-container>

    <!-- ImageOne Definition -->
    <ng-container matColumnDef="ImageOne">
      <mat-header-cell *matHeaderCellDef> ImageOne </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ImageOne }} </mat-cell>
    </ng-container>

    <!-- ImageTwo Definition -->
    <ng-container matColumnDef="ImageTwo">
      <mat-header-cell *matHeaderCellDef> ImageTwo </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ImageTwo }} </mat-cell>
    </ng-container>

    <!-- ImageThree Definition -->
    <ng-container matColumnDef="ImageThree">
      <mat-header-cell *matHeaderCellDef> ImageThree </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ImageThree }} </mat-cell>
    </ng-container>

    <!-- ImageFour Definition -->
    <ng-container matColumnDef="ImageFour">
      <mat-header-cell *matHeaderCellDef> ImageFour </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ImageFour }} </mat-cell>
    </ng-container>

    <!-- ImageFive Definition -->
    <ng-container matColumnDef="ImageFive">
      <mat-header-cell *matHeaderCellDef> ImageFive </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.ImageFive }} </mat-cell>
    </ng-container>

    <!-- UnitsInStock Definition -->
    <ng-container matColumnDef="UnitsInStock">
      <mat-header-cell *matHeaderCellDef> UnitsInStock </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.UnitsInStock }} </mat-cell>
    </ng-container>

    <!-- UnitsOnOrder Definition -->
    <ng-container matColumnDef="UnitsOnOrder">
      <mat-header-cell *matHeaderCellDef> UnitsOnOrder </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.UnitsOnOrder }} </mat-cell>
    </ng-container>

    <!-- UnitsReorderLevel Definition -->
    <ng-container matColumnDef="UnitsReorderLevel">
      <mat-header-cell *matHeaderCellDef> UnitsReorderLevel </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.UnitsReorderLevel }} </mat-cell>
    </ng-container>

    <!-- SupplierId Definition -->
    <ng-container matColumnDef="SupplierId">
      <mat-header-cell *matHeaderCellDef> ImageThree </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.SupplierId }} </mat-cell>
    </ng-container>

    <!-- UnitsSold Definition -->
    <ng-container matColumnDef="UnitsSold">
      <mat-header-cell *matHeaderCellDef> UnitsSold </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.UnitsSold }} </mat-cell>
    </ng-container>

    <!-- UnitWeight Definition -->
    <ng-container matColumnDef="UnitWeight">
      <mat-header-cell *matHeaderCellDef> UnitWeight </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.UnitWeight }} </mat-cell>
    </ng-container>

    <!-- UnitDimensions Definition -->
    <ng-container matColumnDef="UnitDimensions">
      <mat-header-cell *matHeaderCellDef> UnitDimensions </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.UnitDimensions }} </mat-cell>
    </ng-container>

    <!-- UnitsOnOrder Definition -->
    <ng-container matColumnDef="UnitCost">
      <mat-header-cell *matHeaderCellDef> UnitCost </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.UnitCost }} </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row
      *matHeaderRowDef="[
        'Id',
        'Name',
        'Price',
        'CatergoryId',
        'Description',
        'ImageOne',
        'ImageTwo',
        'ImageThree',
        'ImageFour',
        'ImageFive',
        'UnitsInStock',
        'UnitsOnOrder',
        'UnitsReorderLevel',
        'SupplierId',
        'UnitsSold',
        'UnitWeight',
        'UnitDimensions',
        'UnitCost'
      ]"
    ></mat-header-row>
    <mat-row
      *matRowDef="
        let row;
        columns: [
          'Id',
          'Name',
          'Price',
          'CatergoryId',
          'Description',
          'ImageOne',
          'ImageTwo',
          'ImageThree',
          'ImageFour',
          'ImageFive',
          'UnitsInStock',
          'UnitsOnOrder',
          'UnitsReorderLevel',
          'SupplierId',
          'UnitsSold',
          'UnitWeight',
          'UnitDimensions',
          'UnitCost'
        ]
      "
    ></mat-row>
  </mat-table>
</div>
